app_efficacy_v1_first_40_slides/app/slides - Copy/Eylea20Slide/Eylea20Slide.pug
- var monitoringNames = ["DRSS_EyleaStartStayUnique_State2_Slide", "DRSS_EyleaStartStayUnique_State3_Slide", "DRSS_EyleaStartStayUnique_State4_Slide"]

article.slide#Eylea20Slide
	.wrapper
		.sections
			each section, index in sections
				section
					.blending
					.main-info
						.content
							h1 !{section.title}
							.sub-texts
								each text in section.subTexts
									p !{text}
							button.show-description.arrow-btn.right(data-name=monitoringNames[index])
					.description
						.content
							.shape
							p !{section.description}

build/slides/Eylea20Slide/Eylea20Slide.html

<article class="slide" id="Eylea20Slide">
  <div class="wrapper">
    <div class="sections">
      <section>
        <div class="blending"></div>
        <div class="main-info">
          <div class="content">
            <h1>START STRONG</h1>
            <div class="sub-texts">
              <p>FOR GAINS FROM THE <span>FIRST</span></p>
              <p>THROUGH THE <span>FIFTH DOSE</span></p>
            </div>
            <button class="show-description arrow-btn right" data-name="DRSS_EyleaStartStayUnique_State2_Slide"></button>
          </div>
        </div>
        <div class="description">
          <div class="content">
            <div class="shape"></div>
            <p><b>EYLEA</b><sup>&reg;</sup> provides <b>increasing vision</b><br> gains from baseline,over the course<br> of initial monthly doses.<sup data-reference-id='heier'></sup></p>
          </div>
        </div>
      </section>
      <section>
        <div class="blending"></div>
        <div class="main-info">
          <div class="content">
            <h1>MAKE A<br>DIFFERENCE</h1>
            <div class="sub-texts">
              <p>WITH <span>MAINTAINED GAINS</span></p>
            </div>
            <button class="show-description arrow-btn right" data-name="DRSS_EyleaStartStayUnique_State3_Slide"></button>
          </div>
        </div>
        <div class="description">
          <div class="content">
            <div class="shape"></div>
            <p>In pivotal trials, patients maintained <br>Year 1 mean gains of <b>&gt;10 letters</b> <br>through 148 weeks<sup data-reference-id='heier,eylea'></sup></p>
          </div>
        </div>
      </section>
      <section>
        <div class="blending"></div>
        <div class="main-info">
          <div class="content">
            <h1>MULTI-TARGET MOA</h1>
            <div class="sub-texts">
            </div>
            <button class="show-description arrow-btn right" data-name="DRSS_EyleaStartStayUnique_State4_Slide"></button>
          </div>
        </div>
        <div class="description">
          <div class="content">
            <div class="shape"></div>
            <p><b>EYLEA</b><sup>&reg;</sup> was designed to <b>inhibit <br>both VEGF</b> and <b>PGF</b> by binding <br>with <b>greater affinity</b> than each <br>of their <b>natural receptors</b><sup data-reference-id='korobelnik'></sup></p>
          </div>
        </div>
      </section>
    </div>
  </div>
</article>
