app_efficacy_v1_first_40_slides/app/slides/StayStrong41Slide/StayStrong41Slide.pug
include ../../pug_fragments/skew
article.slide#StayStrong41Slide
	h1 !{headline}
	h2 !{sub_header}
	.content-wrapper
		figure.graph-wrapper
			.row.labels-wrapper
				each label in scheme.labels
					.column
						+skewText(label)
			.row
				each column in scheme.columns
					.arrow-wrapper
						p !{column}
			//figcaption.oblique-tile
				//p !{figcaption}
		.wrap-open-popup
			p !{button}
			button.arrow-btn.open-popup(data-viewer='slideshow' href='stay_strong_41a_inline' slide='StayStrong41A1PopupSlide')

build/slides/StayStrong41Slide/StayStrong41Slide.html

<article class="slide" id="StayStrong41Slide">
  <h1>PROACTIVE DOSING WITH EYLEA<sup>&reg;</sup></h1>
  <h2></h2>
  <div class="content-wrapper">
    <figure class="graph-wrapper">
      <div class="row labels-wrapper">
        <div class="column">
          <div class="skew">
            <p>Beyond 52 Weeks</p>
          </div>
        </div>
        <div class="column">
          <div class="skew">
            <p>First 52 Weeks</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="arrow-wrapper">
          <p>Treat-and-extend</p>
        </div>
        <div class="arrow-wrapper">
          <p>Extend to <br>every 2 months <small>until 52 weeks</small></p>
        </div>
        <div class="arrow-wrapper">
          <p>5 monthly <small>injections</small></p>
        </div>
      </div>
      <!--figcaption.oblique-tile//p 
      -->
    </figure>
    <div class="wrap-open-popup">
      <p>Dosing schedule</p>
      <button class="arrow-btn open-popup" data-viewer="slideshow" href="stay_strong_41a_inline" slide="StayStrong41A1PopupSlide"></button>
    </div>
  </div>
</article>
