build/slides/MultiTargetApproachSlide/MultiTargetApproachSlide.html

<article class="slide" id="MultiTargetApproachSlide">
  <h1>A MULTI-TARGET MoA</h1>
  <div class="content-wrapper">
    <h2 class="lead-text">EYLEA<sup>®</sup> is a fully human recombinant fusion protein that contains portions of native VEGFR-1 and VEGFR-2<sup data-reference-id='papadopoulos-semeraro '></sup></h2>
    <div class="graph-wrapper">
      <div class="left-side">
        <div class="image-wrapper">
          <div class="button-wrapper">
            <p>TIGHT BINDING</p>
            <button class="icon" data-goto-state="first"></button>
          </div>
          <div class="button-wrapper">
            <p>MULTI-ACTION</p>
            <button class="icon" data-goto-state="second"></button>
          </div>
          <div class="button-wrapper">
            <p>EFFICACY DURATION</p>
            <button class="icon" data-goto-state="third"></button>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="text-wrapper">
          <h2>TIGHT BINDING AFFINITY<br /> VS NATIVE RECEPTORS</h2>
          <p>EYLEA<sup>®</sup> acts as a decoy receptor for<br /> different VEGF molecules,<sup data-reference-id='papadopoulos,assessment'></sup> being<br /> specifically engineered to have very<br /> high affinity for VEGF-A and PGF.<sup data-reference-id='amadio,rudge'></sup> <br />The binding affinity for these molecules<br /> is higher than that of native receptors.<sup data-reference-id='eylea'></sup></p>
        </div>
        <div class="text-wrapper">
          <h2>MULTI-ACTION</h2>
          <p>EYLEA<sup>®</sup> blocks all isoforms of<br />VEGF-A, VEGF-B and PIGF<sup data-reference-id='aflibercept'></sup></p>
        </div>
        <div class="text-wrapper">
          <h2>EFFICACY DURATION</h2>
          <p>The predicted, time-dependent<br /> intravitreal biological activity of<br /> EYLEA<sup>®</sup> is 83 days.<sup data-reference-id='aflibercept'></sup></p>
        </div>
      </div>
    </div>
  </div>
</article>

app_efficacy_v1_first_40_slides/app/slides/MultiTargetApproachSlide/MultiTargetApproachSlide.pug
- var states = ["first", "second", "third"]
include ../../pug_fragments/oblique-tile
article.slide#MultiTargetApproachSlide
	h1 !{headline}
	.content-wrapper
		h2.lead-text !{lead_paragraph}
		.graph-wrapper
			.left-side
				.image-wrapper
					each text, index in buttons
						.button-wrapper
							p !{text}
							button.icon(data-goto-state=states[index])
			.right-side
				each block in blocks
					.text-wrapper
						h2 !{block.headline}
						each text in block.text
							p !{text}
