build/slides/UniqueMoA50Slide/UniqueMoA50Slide.html

<article class="slide" id="UniqueMoA50Slide">
  <h1>EYLEA<sup>&reg;</sup>: UNIQUE MECHANISM OF ACTION</h1>
  <h2>TARGETING VEGF AND PGF: TWO CRITICAL FACTORS RESPONSIBLE FOR DME<sup data-reference-id='eylea,kovacs-rakic'></sup></h2>
  <div class="factors content-wrapper">
    <div class="factor">
      <p class="factor-title">VEGF</p>
      <p class="factor-description">Stimulates <mark>neovascularization</mark><sup data-reference-id='bhagat'></sup></p>
    </div>
    <div class="factor">
      <p class="factor-title">PGF</p>
      <p class="factor-description">Stimulates <mark>neovascularization</mark> and production <br>of <mark>inflammatory mediators</mark><sup data-reference-id='ando,rakic'></sup></p>
    </div>
  </div>
  <figure>
    <div class="molecule"></div>
    <div class="descriptions">
      <div class="block">
        <p class="factor-title">‘TRAP’ MECHANISM FOR TIGHTER BINDING<sup data-reference-id='eylea,papadopoulos'></sup></p>
        <div class="description">
          <p><b>EYLEA<sup>&reg;</sup> is the only approved</b> anti-angiogenic therapy that <b>targets <br>both VEGF-A</b> and <b>PGF</b>, with greater affinity than natural receptors<sup data-reference-id='eylea'></sup></p>
          <p>VEGF-A-binding affinity up to <mark>100-fold</mark> that of ranibizumab<sup data-reference-id='papadopoulos'></sup></p>
        </div>
      </div>
      <div class="block">
        <p class="factor-title">LONG-LASTING EFFECT<sup data-reference-id='fauser-aflibercept'></sup></p>
        <div class="description">
          <p><b>Suppresses anterior chamber VEGF</b> for a mean of <b>&gt;10 weeks –</b> <br><mark>twice as long</mark> as ranibizumab<sup data-reference-id='fauser'></sup></p>
        </div>
      </div>
    </div>
  </figure>
  <div class="buttons">
    <div class="button-wrapper">
      <p>EYLEA<sup>&reg;</sup> MOA</p>
      <button class="arrow-btn plus-white" data-viewer="slideshow" href="unique_moa_50a_inline" slide="UniqueMoA50A1PopupSlide"></button>
    </div>
    <div class="button-wrapper">
      <p>DEX</p>
      <button class="arrow-btn plus-white" data-viewer="slideshow" href="unique_moa_50b_inline" slide="UniqueMoA50B1PopupSlide"></button>
    </div>
  </div>
</article>

app/slides/UniqueMoA50Slide/UniqueMoA50Slide.pug
- var popups = [{href:"unique_moa_50a_inline",slide:"UniqueMoA50A1PopupSlide"},{href:"unique_moa_50b_inline",slide:"UniqueMoA50B1PopupSlide"}]

article.slide#UniqueMoA50Slide
	h1 !{headline}
	h2 !{lead_paragraph}
	.factors.content-wrapper
		each factor in factors
			.factor
				p.factor-title !{factor.title}
				p.factor-description !{factor.description}
	figure
		.molecule
		.descriptions
			each block in figure
				.block
					p.factor-title !{block.title}
					.description
						each description in block.descriptions
							p !{description}
	.buttons
		each title, index in buttons
			.button-wrapper
				p !{title}
				button(data-viewer='slideshow', href=popups[index].href, slide=popups[index].slide).arrow-btn.plus-white
