build/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Eylea DME EFFICACY Global Master eDetailer</title>
    <meta name="description" content="Presentation">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <!-- Specify a default short title when adding to home screen (works in iOS >= 6)-->
    <meta name="apple-mobile-web-app-title" content="Template">
    <!-- Don't automatically detect phone numbers and email addresses-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" href="build/presentation/styles.css">
    <script>window.ahstrings = {"ah-refs-notes-popup":{"ref_head":"References","notes_head":"Footnotes"},"globals":{"discussion_header":"A NEW TREATMENT PARADIGM","recent_header":"RECENT INSIGHTS IN DME","discussion_figcaption":"ARE YOU READY TO <mark>START STRONG</mark> AND <mark>STAY STRONG</mark>?","start_strong_30c_inline_strings":{"lead_text":"IN VISTA DME…","graph":{"v_caption":"Mean change in BCVA<br> ETDRS letters","v_scale":["0","2","4","6","8","10","12","14"],"h_caption":"Week","h_scale":["0","4","8","12","16","20","24","28","32","36","40","44","48","52"],"lines":[{"value":"+10.7"},{"value":"+0.2"}],"graph_blocks":["5 initial monthly doses","2q8 extension"],"legend":["<strong>EYLEA<sup>&reg;</sup> 2 mg</strong> administered every month (4 weeks) for the first 5 months, followed by once every 2 months (8 weeks); <strong>n=152.</strong><sup data-reference-id='korobelnik'></sup>","<strong>Laser</strong> photocoagulation administered as needed, no more often than every 12 weeks; <strong>n=154.</strong><sup data-reference-id='korobelnik'></sup>"]}}},"notes":{"monthly_doses":{"description":"Following 5 initial monthly doses.<sup>1</sup><sup data-reference-id='korobelnik'></sup>"},"grid_laser":{"description":"Focal or grid laser.<sup>1</sup><sup data-reference-id='korobelnik'></sup>"},"criteria_treatment":{"description":"When criteria for additional treatment were met, study eyes in the 2q4 and 2q8 groups received active laser (rather than sham) from Week 24 onward, while those in the laser group received 5 doses of EYLEA<sup>&reg;</sup> 2 mg every 4 weeks followed by dosing every 8 weeks. Study eyes in all treatment groups could receive additional (rescue) treatment from Week 24 onward if they lost, due to worsening DME, &#8805;10 letters on 2 consecutive visits, or &#8805;15 letters at any 1 visit from the best previous measurement, and BCVA was worse than baseline.<sup>1</sup><sup data-reference-id='korobelnik'></sup>"},"eylea_laser_group":{"description":"EYLEA<sup>&reg;</sup> 2 mg PRN was available beginning at Week 100 for patients in the laser group.<sup>1</sup><sup data-reference-id='korobelnik'></sup>"},"patients_laser_group_1":{"description":"Patients in the laser group received sham injections at every visit.<sup>1</sup><sup data-reference-id='korobelnik'></sup><br>After 24 weeks, patients who met the prespecified criteria were eligible for an additional treatment: patients in the EYLEA<sup>&reg;</sup> groups could receive laser treatment and patients in the laser group could receive EYLEA<sup>&reg;</sup> treatment. At Week 52, 32 patients in the laser group (24.0%) had received additional treatment with EYLEA<sup>&reg;</sup> and 11 patients in the EYLEA<sup>&reg;</sup> 2q8 group (8.1%) had received additional treatment with laser.<sup>1</sup><sup data-reference-id='korobelnik'></sup>"},"data_dme":{"description":"Data from a pooled analysis of VIVID DME and VISTA DME.<sup>5</sup><sup data-reference-id='ziemssen'></sup>"},"correlation_lines":{"description":"Correlation of lines lost to real-world impact from a population-based, prevalence study of eye disease in Latinos included in the Los Angeles Latino Eye Study (LALES; n=5287). In patients with binocular visual acuity 20/40 or worse, investigators assessed (i) binocular visual acuity, and (ii) self-reported visual function as measured by the 25-item National Eye Institute Visual Function Questionnaire (NEl-VFQ-25). Regression analysis was used to estimate how many lines of difference in binocular VA were associated with a constant NEl-VFQ-25 subscale score difference of 5 points.<sup>7</sup><sup data-reference-id='globe'></sup>"},"monthly_doses_8":{"description":"Following 5 initial monthly doses.<sup>8</sup><sup data-reference-id='vividEast'></sup>"},"grid_laser_8":{"description":"Focal or grid laser.<sup>8</sup><sup data-reference-id='vividEast'></sup>"},"study_eyes":{"description":"Study eyes in all treatment groups could receive additional (rescue) treatment from Week 24 onward if they lost, due to worsening DME, &#8805;10 letters on 2 consecutive visits, or &#8805;15 letters at any 1 visit from the best previous measurement, and BCVA was worse than baseline.<sup>8</sup><sup data-reference-id='vividEast'></sup>"},"patients_laser_group_8":{"description":"Patients in the laser group received sham injections at every visit.<sup>8</sup><sup data-reference-id='vividEast'></sup><br>After 24 weeks, patients who met the prespecified criteria were eligible for an additional treatment: patients in the EYLEA<sup>&reg;</sup> groups could receive laser treatment and patients in the laser group could receive EYLEA<sup>&reg;</sup> treatment.<sup>8</sup><sup data-reference-id='vividEast'></sup>"},"year_injections":{"description":"97% of patients received 6 or more injections in Year 1.<sup>9</sup><sup data-reference-id='diabetic'></sup>"},"treatment_regimen":{"description":"The treatment regimen tested in Protocol T was not the label regimen for EYLEA.<sup>9</sup><sup data-reference-id='diabetic'></sup>"},"treatment_decision":{"description":"Treatment decision based on OCT and VA criteria.<sup>9</sup><sup data-reference-id='diabetic'></sup>"},"dose_ranibizumab":{"description":"In Protocol T, the dose of ranibizumab tested was 0.3 mg (US-approved dosage) while the ex-US dosage of ranibizumab is 0.5 mg. The treatment regimen tested in Protocol T was not the label regimen for either EYLEA<sup>&reg;</sup> or ranibizumab.<sup>9</sup><sup data-reference-id='diabetic'></sup>"},"improvement_worsening":{"description":"Improvement or worsening was defined as &#8805;10% change in CRT or &#8805;5-letter (~1 Snellen line) change in VA.<sup>9</sup><sup data-reference-id='diabetic'></sup>"},"threshold":{"description":"Gender-specific threshold.<sup>9</sup><sup data-reference-id='diabetic'></sup>"},"visits_occurred":{"description":"Visits occurred every 4–16 weeks depending on disease status and treatment.<sup>9</sup><sup data-reference-id='diabetic'></sup>"},"missing_hba":{"description":"Missing HbA<sub>1c</sub> data: EYLEA, n=5; ranibizumab, n=1.<sup>9</sup><sup data-reference-id='diabetic'></sup>"},"median":{"description":"Median."},"number_injections_weeks":{"description":"Mean number of injections for Weeks 52–100 calculated based on mean values for Weeks 0–52 (8.7 injections) and for Weeks 0–100 (13.6 injections).<sup>1,11</sup><sup data-reference-id='korobelnik,brown'></sup>"},"bevacizumab_02":{"description":"<i>P</i>=0.02 vs bevacizumab.<sup>10</sup><sup data-reference-id='wells'></sup>"},"ranibizumab_18":{"description":"<i>P</i>=0.18 vs ranibizumab.<sup>10</sup><sup data-reference-id='wells'></sup>"},"bevacizumab_18":{"description":"<i>P</i>=0.18 vs bevacizumab.<sup>10</sup><sup data-reference-id='wells'></sup>"},"bevacizumab_001":{"description":"<i>P</i><0.001 vs bevacizumab.<sup>12</sup><sup data-reference-id='jampol'></sup>"},"ranibizumab_009":{"description":"<i>P</i>=0.009 vs ranibizumab.<sup>12</sup><sup data-reference-id='jampol'></sup>"},"no_requirement":{"description":"No requirement for interim monitoring between injections.<sup>3</sup><sup data-reference-id='eylea'></sup>"},"schedule_monitoring":{"description":"The schedule for monitoring should be determined by the treating physician and may be more frequent than the schedule of injections.<sup>3</sup><sup data-reference-id='eylea'></sup>"},"study_visits":{"description":"Study visits in MEAD were scheduled every 1.5 months during the first year; a 2-month timepoint is therefore not available.<sup>22</sup><sup data-reference-id='boyer'></sup>"}},"structure":{"slides":{"HomePageSlide":{"name":"HomePageSlide"},"RecentInsights10Slide":{"name":"RecentInsights10"},"RecentInsights11Slide":{"name":"RecentInsights11"},"RecentInsights12Slide":{"name":"RecentInsights12"},"RecentInsights13Slide":{"name":"RecentInsights13"},"RecentInsights14Slide":{"name":"RecentInsights14"},"RecentInsights15Slide":{"name":"RecentInsights15"},"RecentInsights16Slide":{"name":"RecentInsights16"},"RecentInsights17Slide":{"name":"RecentInsights17"},"RecentInsights18Slide":{"name":"RecentInsights18"},"RecentInsights19Slide":{"name":"RecentInsights19"},"RecentInsights110Slide":{"name":"RecentInsights110"},"RecentInsights111Slide":{"name":"RecentInsights111"},"RecentInsights112Slide":{"name":"RecentInsights112"},"Eylea20Slide":{"name":"Eylea20Slide"},"StartStrong30Slide":{"name":"StartStrong30"},"StartStrong31Slide":{"name":"StartStrong31"},"StartStrong32Slide":{"name":"StartStrong32"},"StartStrong33Slide":{"name":"StartStrong33"},"StartStrong34Slide":{"name":"StartStrong34"},"StartStrong35Slide":{"name":"StartStrong35"},"StayStrong40Slide":{"name":"StayStrong40"},"StayStrong41Slide":{"name":"StayStrong41"},"UniqueMoA50Slide":{"name":"UniqueMoA50"},"Discussion60Slide":{"name":"Discussion60"},"Discussion61Slide":{"name":"Discussion61"},"Discussion62Slide":{"name":"Discussion62"},"Discussion63Slide":{"name":"Discussion63"},"Discussion64Slide":{"name":"Discussion64"},"Discussion65Slide":{"name":"Discussion65"},"Discussion66Slide":{"name":"Discussion66"},"Discussion67Slide":{"name":"Discussion67"},"Discussion68Slide":{"name":"Discussion68"},"Discussion69Slide":{"name":"Discussion69"},"Discussion610Slide":{"name":"Discussion610"},"Discussion611Slide":{"name":"Discussion611"},"Discussion612Slide":{"name":"Discussion612"},"StartStrong30A1PopupSlide":{"name":"StartStrong30A1Popup"},"StartStrong30B1PopupSlide":{"name":"StartStrong30B1Popup"},"StartStrong30B2PopupSlide":{"name":"StartStrong30B2Popup"},"StartStrong30B3PopupSlide":{"name":"StartStrong30B3Popup"},"StartStrong30B4PopupSlide":{"name":"StartStrong30B4Popup"},"StartStrong30B5PopupSlide":{"name":"StartStrong30B5Popup"},"StartStrong30C1PopupSlide":{"name":"StartStrong30C1Popup"},"StartStrong30C2PopupSlide":{"name":"StartStrong30C2Popup"},"StartStrong30C3PopupSlide":{"name":"StartStrong30C3Popup"},"StartStrong34A1PopupSlide":{"name":"StartStrong34A1Popup"},"StartStrong34A2PopupSlide":{"name":"StartStrong34A2Popup"},"StartStrong34A3PopupSlide":{"name":"StartStrong34A3Popup"},"StartStrong34A4PopupSlide":{"name":"StartStrong34A4Popup"},"StartStrong34A5PopupSlide":{"name":"StartStrong34A5Popup"},"StartStrong34B1PopupSlide":{"name":"StartStrong34B1Popup"},"StartStrong35A1PopupSlide":{"name":"StartStrong35A1Popup"},"StartStrong35A2PopupSlide":{"name":"StartStrong35A2Popup"},"StartStrong35A3PopupSlide":{"name":"StartStrong35A3Popup"},"StartStrong35A4PopupSlide":{"name":"StartStrong35A4Popup"},"StartStrong35B1PopupSlide":{"name":"StartStrong35B1Popup"},"StayStrong40A1PopupSlide":{"name":"StayStrong40A1Popup"},"StayStrong40A2PopupSlide":{"name":"StayStrong40A2Popup"},"StayStrong40A3PopupSlide":{"name":"StayStrong40A3Popup"},"StayStrong40B1PopupSlide":{"name":"StayStrong40B1Popup"},"StayStrong40C1PopupSlide":{"name":"StayStrong40C1Popup"},"StayStrong40C2PopupSlide":{"name":"StayStrong40C2Popup"},"StayStrong41A1PopupSlide":{"name":"StayStrong41A1Popup"},"StayStrong41A2PopupSlide":{"name":"StayStrong41A2Popup"},"StayStrong41A3PopupSlide":{"name":"StayStrong41A3Popup"},"StayStrong41A4PopupSlide":{"name":"StayStrong41A4Popup"},"UniqueMoA50A1PopupSlide":{"name":"UniqueMoA50A1Popup"},"UniqueMoA50A2PopupSlide":{"name":"UniqueMoA50A2Popup"},"UniqueMoA50A3PopupSlide":{"name":"UniqueMoA50A3Popup"},"UniqueMoA50A4PopupSlide":{"name":"UniqueMoA50A4Popup"},"UniqueMoA50A5PopupSlide":{"name":"UniqueMoA50A5Popup"},"UniqueMoA50A6PopupSlide":{"name":"UniqueMoA50A6Popup"},"UniqueMoA50B1PopupSlide":{"name":"UniqueMoA50B1Popup"},"UniqueMoA50B2PopupSlide":{"name":"UniqueMoA50B2Popup"},"UniqueMoA50B3PopupSlide":{"name":"UniqueMoA50B3Popup"},"UniqueMoA50B4PopupSlide":{"name":"UniqueMoA50B4Popup"},"UniqueMoA50B5PopupSlide":{"name":"UniqueMoA50B5Popup"},"StartStrong32APopupSlide":{"name":"StartStrong32APopupSlide"}},"structures":{},"storyboards":{}}}</script>
    <!--
    Printing and PDF exports
    <script>
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'accelerator/css/print/pdf.css' : 'accelerator/css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
    -->
  </head>
  <body>
    <div class="accelerator" id="presentation">
      <nav data-module="ag-auto-menu"></nav>
      <div data-module="ah-fix-slide-render"></div>
      <div data-module="ah-fix-slide-animation"></div>
      <div data-module="ah-correct-events"></div>
      <div data-module="ag-cleanup"></div>
      <div data-module="ah-listener"></div>
      <!--.develop-sitemap(data-module='ah-develop-sitemap')-->
      <div id="ahUtils" data-module="ah-utils"></div>
      <div id="ahHistory" data-module="ah-history"></div>
      <section class="slideshows slides" id="slideshows"></section>
      <div class="custom-popup" id="overlay-popup-custom" data-module="ag-overlay">
        <div class="ag-overlay-background"></div>
        <div class="ag-overlay-content"></div>
      </div>
      <div data-module="ah-binding-handler"></div>
      <div class="custom-overlay" id="viewer" data-module="ag-viewer"></div>
      <div id="inlineSlideshow" data-module="ah-inline-slideshow"></div>
      <div data-module="ah-inline-menu"></div>
      <div data-module="ah-inline-indicators"></div>
      <div id="notes" data-module="ah-notes"></div>
      <div class="auto-references-popup-overlay" id="ahRefsNotesPopup" data-module="ah-refs-notes-popup"></div>
      <div id="agAnalytics" data-module="ag-slide-analytics"></div>
      <div id="ahAnalitycs" data-module="ah-slide-analytics"></div>
      <div data-module="ap-media-repository"></div>
      <div data-module="ah-media-repository"></div>
      <div data-module="ah-auto-references-popup" id="ah-auto-references-popup" isglobalnumeric></div>
      <div data-module="ap-custom-collections-storage"></div>
      <div data-module="ap-content-groups"></div>
      <div data-module="ap-notepad"></div>
      <div id="slideIndicator" data-module="ap-slide-indicator"></div>
      <footer data-module="ap-toolbar" minimized=""></footer>
      <div class="eylia-logo" data-module="ah-bottom-logo"></div>
    </div>
    <!-- Agnitio Content API-->
    <!-- http://wiki.agnitio.com/index.php?title=Agnitio_Content_API_(iPad)-->
    <!-- <script src="../viewer/js/agnitio.js"></script>-->
    <!-- Reference local agnitio.js for testing purposes-->
    <script src="accelerator/lib/agnitio.js"></script>
    <script src="build/presentation/scripts.js"></script>
    <!-- script src="http://weinre.antwerpes.de/target/target-script-min.js#HC-Template"></script-->
  </body>
</html>

app_efficacy_v1_first_40_slides/app/platforms/rainmaker/index.pug
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Eylea DME EFFICACY Global Master eDetailer
		meta(name='description', content='Presentation')
		meta(name='author', content='')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1')
		// Specify a default short title when adding to home screen (works in iOS >= 6)
		meta(name='apple-mobile-web-app-title', content='Template')
		// Don't automatically detect phone numbers and email addresses
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='email=no')
		link(rel='stylesheet', href='build/presentation/styles.css')
		script window.ahstrings = !{stringdata}
		//
			Printing and PDF exports
			<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'accelerator/css/print/pdf.css' : 'accelerator/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
			</script>
	body
		#presentation.accelerator
			nav(data-module='ag-auto-menu')
			div(data-module='ah-fix-slide-render')
			div(data-module='ah-fix-slide-animation')
			div(data-module='ah-correct-events')
			div(data-module='ag-cleanup')
			div(data-module='ah-listener')
			//.develop-sitemap(data-module='ah-develop-sitemap')
			#ahUtils(data-module='ah-utils')
			#ahHistory(data-module='ah-history')

			section#slideshows.slideshows.slides
			#overlay-popup-custom.custom-popup(data-module='ag-overlay')
				.ag-overlay-background
				.ag-overlay-content
			div(data-module='ah-binding-handler')
			#viewer.custom-overlay(data-module="ag-viewer")
			#inlineSlideshow(data-module='ah-inline-slideshow')
			div(data-module='ah-inline-menu')
			div(data-module='ah-inline-indicators')
			#notes(data-module='ah-notes')
			#ahRefsNotesPopup.auto-references-popup-overlay(data-module='ah-refs-notes-popup')
			div#agAnalytics(data-module='ag-slide-analytics')
			#ahAnalitycs(data-module='ah-slide-analytics')
			div(data-module='ap-media-repository')
			div(data-module='ah-media-repository')
			div(data-module='ah-auto-references-popup', id="ah-auto-references-popup", isglobalnumeric=true)
			div(data-module='ap-custom-collections-storage')
			div(data-module='ap-content-groups')
			div(data-module='ap-notepad')
			div#slideIndicator(data-module='ap-slide-indicator')

			footer(data-module='ap-toolbar', minimized='')
			.eylia-logo(data-module='ah-bottom-logo')
		// Agnitio Content API
		// http://wiki.agnitio.com/index.php?title=Agnitio_Content_API_(iPad)
		// <script src="../viewer/js/agnitio.js"></script>
		// Reference local agnitio.js for testing purposes
		script(src='accelerator/lib/agnitio.js')
		script(src='build/presentation/scripts.js')
		// script src="http://weinre.antwerpes.de/target/target-script-min.js#HC-Template"></script
