build/slides/StayStrong41A2PopupSlide/StayStrong41A2PopupSlide.html

<article class="slide" id="StayStrong41A2PopupSlide">
  <h1>Treat-and-extend LABELING with <strong>EYLEA<sup>&reg;</sup></strong></h1>
  <div class="content">
    <p class="lead-paragraph">The recommended dose of EYLEA<sup>&reg;</sup> for DME is 2 <span>mg</span>, equivalent to 50 <span>&mu;l</span>, administered with 5 initial monthly doses followed by one injection every two months<sup data-reference-id='eylea'></sup></p>
    <div class="label-wrapper">
      <div class="label">
        <p class="top-caption">LABEL UPDATE</p>
        <p class="main-caption">Treat-and-extend dosing now approved for EYLEA<sup>&reg;</sup> in DME</p>
        <p class="bottom-caption">by the European Medicines Agency<sup data-reference-id='eylea'></sup></p>
      </div>
    </div>
    <p class="summary">"After the first 12 months of treatment with EYLEA<sup>&reg;</sup>, and based on visual and/or anatomic outcomes, the treatment interval may be extended, such as with a treat-and-extend dosing regimen, where the treatment intervals are gradually increased to maintain stable visual and/or anatomic outcomes"</p>
    <p class="note">EYLEA<sup>&reg;</sup> Summary of Product Characteristics<sup data-reference-id='eylea'></sup></p>
  </div>
</article>

app_efficacy_v1_first_40_slides/app/slides - Copy/StayStrong41A2PopupSlide/StayStrong41A2PopupSlide.pug
article.slide#StayStrong41A2PopupSlide
	h1 !{headline}
	.content
		p.lead-paragraph !{lead_paragraph}
		.label-wrapper
			.label
				p.top-caption !{label.top_caption}
				p.main-caption !{label.main_caption}
				p.bottom-caption !{label.bottom_caption}
		p.summary !{summary}
		p.note !{note}
