app/slides - Copy/StartStrong35Slide/StartStrong35Slide.pug
include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/skew
mixin generateButton(text, attr)
	.wrap-open-popup
		p !{text}
		button.arrow-btn.open-popup(data-viewer="slideshow")&attributes(attr)
mixin additionalLegend(texts, className)
	.g-legend-additional(class=className)
		+skewText(texts.caption).caption
		.legend-content
			each item, indexEl in texts.list
				li(class=additionalLegendColors[indexEl])
					+skewText(item)
-
	var
	lineClasses  = ['element-blue', 'element-light-blue', 'element-yellow']
	legendColors = ['legend-blue', 'legend-light-blue', 'legend-yellow']
	additionalLegendColors = ['element-yellow', 'element-light-blue', 'element-blue']

article.slide#StartStrong35Slide
	h1 !{headline}
	p.lead-paragraph !{lead_paragraph}
	P.sub-lead-paragraph !{sub_paragraph}
	.content-wrapper
		+graph(graph, legendColors)
			+setGraphLines(graph.lines, lineClasses)
			+additionalLegend(graph.graph_additional_legend, "initial")
			+additionalLegend(graph.graph_additional_legend_last, "extension")
			button.arrow-btn.plus(data-goto-state="detail-1")
			button.arrow-btn.plus(data-goto-state="detail-2")
			.popups-buttons
				+generateButton(popups[0], {"href":"start_strong_35a_inline", "slide":"StartStrong35A1PopupSlide"})
				+generateButton(popups[1], {"href":"start_strong_35b_inline", "slide":"StartStrong35B1PopupSlide"})

build/slides/StartStrong35Slide/StartStrong35Slide.html

<article class="slide" id="StartStrong35Slide">
  <h1>EYLEA<sup>®</sup>ACHIEVED A MEAN GAIN<br>OF > 2 LINES AT 1 YEAR WITH 5–6<sup data-notes='year_injections'></sup><br>INITIAL MONTHLY DOSES<sup data-reference-id='korobelnik,diabetic'></sup><sup>,</sup><sup data-notes='treatment_regimen'></sup></h1>
  <!--p.lead-paragraph !{lead_paragraph}-->
  <!--P.sub-lead-paragraph !{sub_paragraph}-->
  <div class="content-wrapper">
    <figure class="figure-fragment graph-fragment">
      <figcaption>Mean change in BCVA through Week 52<sup data-reference-id='korobelnik,diabetic'></sup><span class="pointer-label"></span></figcaption>
      <div class="content-wrapper">
        <figure class="graph">
          <div class="g-scale g-scale-v">
            <ul>
              <li><span>0</span></li>
              <li><span>2</span></li>
              <li><span>4</span></li>
              <li><span>6</span></li>
              <li><span>8</span></li>
              <li><span>10</span></li>
              <li><span>12</span></li>
              <li><span>14</span></li>
            </ul>
            <p class="g-scale-label"><span>Mean change in BCVA</span><br/><span>ETDRS letters</span><br/>
            </p>
          </div>
          <div class="g-scale g-scale-h">
            <ul>
              <li><span>0</span></li>
              <li><span>4</span></li>
              <li><span>8</span></li>
              <li><span>12</span></li>
              <li><span>16</span></li>
              <li><span>20</span></li>
              <li><span> </span></li>
              <li><span> </span></li>
              <li><span> </span></li>
              <li><span> </span></li>
              <li><span> </span></li>
              <li><span> </span></li>
              <li><span> </span></li>
              <li><span>52</span></li>
            </ul>
            <p class="g-scale-label"><span>Week</span><br/>
            </p>
          </div>
          <div class="g-content">
            <div class="graph-blocks">
              <div class="block">
                <p>Initial monthly dosing</p>
              </div>
              <div class="block">
                <p>Extension</p>
              </div>
            </div>
            <div class="g-lines">
              <div class="g-line">
                <div class="g-line-info">
                  <div class="skew element-blue g-line-value">
                    <p>+10.7</p>
                  </div>
                </div>
              </div>
              <div class="g-line">
                <div class="g-line-info">
                  <div class="skew element-yellow g-line-value">
                    <p>+13.3</p>
                  </div>
                  <p class="g-line-name">Protocol T</p>
                </div>
              </div>
            </div>
            <div class="g-legend-additional initial">
              <div class="skew caption">
                <p><b>Initial monthly dosing</b></p>
              </div>
              <div class="legend-content">
                <li class="element-yellow">
                  <div class="skew">
                    <p><b>6</b> Protocol T<sup data-notes='year_injections'></sup></p>
                  </div>
                </li>
                <li class="element-blue">
                  <div class="skew">
                    <p><b>5</b> VIVID DME</p>
                  </div>
                </li>
              </div>
            </div>
            <div class="g-legend-additional extension">
              <div class="skew caption">
                <p><b>Mean injections in Year 1</b><br>(initial monthly dosing plus extension period)</p>
              </div>
              <div class="legend-content">
                <li class="element-yellow">
                  <div class="skew">
                    <p><b>9.2</b> Protocol T</p>
                  </div>
                </li>
                <li class="element-blue">
                  <div class="skew">
                    <p><b>8.7</b> VIVID DME</p>
                  </div>
                </li>
              </div>
            </div>
            <button class="arrow-btn plus" data-goto-state="detail-1"></button>
            <button class="arrow-btn plus" data-goto-state="detail-2"></button>
            <div class="popups-buttons">
              <div class="wrap-open-popup">
                <p>Study design</p>
                <button class="arrow-btn open-popup" data-viewer="slideshow" href="start_strong_35a_inline" slide="StartStrong35A2PopupSlide"></button>
              </div>
              <div class="wrap-open-popup">
                <p>Additional endpoints</p>
                <button class="arrow-btn open-popup" data-viewer="slideshow" href="start_strong_35b_inline" slide="StartStrong35B1PopupSlide"></button>
              </div>
            </div>
          </div>
        </figure>
      </div>
      <ul class="g-legend">
        <li class="legend-blue"><b>EYLEA<sup>&reg;</sup> 2 mg</b> administered every month (4 weeks) for the first 5 months, followed by once every 2 months (8 weeks); <b>VIVID DME n=135.<sup data-reference-id='korobelnik'></sup></b></li>
        <li class="legend-yellow"><b>EYLEA<sup>&reg;</sup> 2 mg</b> administered every month (4 weeks) unless vision ≥20/20 with <250 μm on Zeiss Stratus equivalent and no improvement<br>or worsening in response to the previous 2 injections, for the first 20 weeks; thereafter injection was withheld if stable<br>(see study design page for definitions); <b>Protocol T n=224.<sup data-reference-id='diabetic'></sup></b></li>
      </ul>
    </figure>
  </div>
</article>
