app_efficacy_v1_first_40_slides/app/slides/HomePageSlide/HomePageSlide.pug
include ../../pug_fragments/top-global-text

mixin generateTextBlock(text)
	- var collection = text.split("<br>")
	each text in collection
		span.inner-headline !{text}
		br

article.slide#HomePageSlide
	img(src="assets/images/bayer_logo.png" alt="")

	h1
		+generateTextBlock(headline)
	p.note !{note}

build/slides/HomePageSlide/HomePageSlide.html

<article class="slide" id="HomePageSlide"><img src="assets/images/bayer_logo.png" alt=""/>
  <h1><span class="inner-headline"><span>WHAT YOU</span></span><br/><span class="inner-headline">START TODAY</span><br/><span class="inner-headline"><span>MAKES A</span> DIFFERENCE</span><br/><span class="inner-headline">TOMORROW</span><br/>
  </h1>
  <p class="note"><sup>a</sup>EYLEA<sup>&reg;</sup> is indicated for adults for the treatment of neovascular (wet)<br> age-related macular degeneration (AMD), visual impairment due to macular edema <br> secondary to retinal vein occlusion (branch RVO or central RVO), visual impairment due to diabetic<br> macular edema (DME), and visual impairment due to myopic choroidal neovascularization (myopic CNV).<sup data-reference-id='eylea'></sup><br></p>
</article>
