app/slides/StayStrong41A1PopupSlide/StayStrong41A1PopupSlide.pug
include ../../pug_fragments/arrow-block

article.slide#StayStrong41A1PopupSlide
	h1.obliqueTile !{headline}
	.content
		h2.sub-header !{lead_paragraph}
		figure
			p.product-name !{product_text.product_name}
			.graph
				.items
					each item, index in product_text.products
						if item
							.item-text
								+arrowMixin(item)
								p !{index+1}
						else
							.item-image
								p !{index+1}
			.bottom-scale
				p.caption !{product_text.caption}
				.handler
			.addition-items
				each item in bottom_items
					p.bottom-item !{item}

build/slides/StayStrong41A1PopupSlide/StayStrong41A1PopupSlide.html

<article class="slide" id="StayStrong41A1PopupSlide">
  <h1 class="obliqueTile"><mark>EYLEA<sup>&reg;</sup></mark>: ADMINISTRATION SCHEDULE IN FIRST YEAR</h1>
  <div class="content">
    <h2 class="sub-header">The recommended dose of EYLEA<sup>&reg;</sup> for DME is 2 mg, equivalent to 50 &micro;l,<br> administered with 5 initial monthly doses followed by one injection<br> every two months<sup data-reference-id='eylea'></sup><sup>,</sup><sup data-notes='no_requirement'></sup></h2>
    <figure>
      <p class="product-name">EYLEA<sup>&reg;</sup> 2 mg</p>
      <div class="graph">
        <div class="items">
          <div class="item-image">
            <p>1</p>
          </div>
          <div class="item-image">
            <p>2</p>
          </div>
          <div class="item-image">
            <p>3</p>
          </div>
          <div class="item-image">
            <p>4</p>
          </div>
          <div class="item-image">
            <p>5</p>
          </div>
          <div class="item-text">
            <div class="arrow-wrap">
              <div class="arrow-box">
                <p>EXTEND</p>
              </div>
              <div class="tr"></div>
            </div>
            <p>6</p>
          </div>
          <div class="item-image">
            <p>7</p>
          </div>
          <div class="item-image">
            <p>8</p>
          </div>
          <div class="item-image">
            <p>9</p>
          </div>
          <div class="item-image">
            <p>10</p>
          </div>
          <div class="item-image">
            <p>11</p>
          </div>
          <div class="item-image">
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="bottom-scale">
        <p class="caption">Months</p>
        <div class="handler"></div>
      </div>
      <div class="addition-items">
        <p class="bottom-item">INITIAL MONTHLY DOSING</p>
        <p class="bottom-item">EXTEND TO ONCE EVERY 2 MONTHS DOSING<sup data-notes='no_requirement'></sup></p>
      </div>
    </figure>
  </div>
</article>
