app/slides - Copy/UniqueMoA50B2PopupSlide/UniqueMoA50B2PopupSlide.pug
- var className = ['left', 'middle', 'right']

article.slide#UniqueMoA50B2PopupSlide
	h1.oblique-tile !{headline}
	p.sub-header !{lead_paragraph}
	figure
		each value, index in items
			.block(class='block-'+className[index])
				if value.header
					p.header !{value.header}
				if value.equal
					p !{value.equal}
				if value.count
					p.big-number.gold !{value.count}
				if value.footer
					.footer
						each _value in value.footer
							p !{_value}

build/slides/UniqueMoA50B2PopupSlide/UniqueMoA50B2PopupSlide.html

<article class="slide" id="UniqueMoA50B2PopupSlide">
  <h1 class="oblique-tile">DEX HAS SHOWN MODEST GAINS IN BCVA ACROSS CLINICAL TRIALS<sup data-reference-id='boyer-callanan'></sup></h1>
  <p class="sub-header">IN A POOLED ANALYSIS OF TWO PIVOTAL 3-YEAR PHASE 3 CLINICAL TRIALS<br> IN PATIENTS WITH DME, MEAN AVERAGE CHANGE IN BCVA WAS:<sup data-reference-id='boyer'></sup></p>
  <figure>
    <div class="block block-left">
      <p class="header">DEX 0.7 mg</p>
      <p class="big-number gold">3.5</p>
      <div class="footer">
        <p>LETTERS</p>
        <p>(n=351)<sup data-reference-id='boyer'></sup></p>
      </div>
    </div>
    <div class="block block-middle">
      <p><i>P</i>=0.023</p>
    </div>
    <div class="block block-right">
      <p class="header">SHAM</p>
      <p class="big-number gold">2.0</p>
      <div class="footer">
        <p>LETTERS</p>
        <p>(n=350)<sup data-reference-id='boyer'></sup></p>
      </div>
    </div>
  </figure>
</article>
