build/slides/StartStrong30Slide/StartStrong30Slide.html

<article class="slide" id="StartStrong30Slide">
  <h1>EYLEA<sup>&reg;</sup> PROVIDES INCREASING VISION GAINS<br> OVER THE COURSE OF 5 INITIAL MONTHLY DOSES</h1>
  <h2></h2>
  <div class="content-wrapper">
    <!--h3 !{headline3.main}-->
    <figure class="figure-fragment graph-fragment">
      <figcaption>Mean change in BCVA through Week 52<sup data-reference-id='korobelnik'></sup><span class="pointer-label"></span></figcaption>
      <div class="content-wrapper">
        <figure class="graph">
          <div class="g-scale g-scale-v">
            <ul>
              <li><span>0</span></li>
              <li><span>2</span></li>
              <li><span>4</span></li>
              <li><span>6</span></li>
              <li><span>8</span></li>
              <li><span>10</span></li>
              <li><span>12</span></li>
              <li><span>14</span></li>
            </ul>
            <p class="g-scale-label"><span>Mean change in BCVA</span><br/><span>ETDRS letters</span><br/>
            </p>
          </div>
          <div class="g-scale g-scale-h">
            <ul>
              <li><span>0</span></li>
              <li><span>4</span></li>
              <li><span>8</span></li>
              <li><span>12</span></li>
              <li><span>16</span></li>
              <li><span>20</span></li>
              <li><span>52</span></li>
            </ul>
            <p class="g-scale-label"><span>Week</span><br/>
            </p>
          </div>
          <div class="g-content">
            <div class="graph-blocks">
              <div class="block">
                <p>5 initial monthly doses</p>
              </div>
              <div class="block">
                <p>2q8 extension</p>
              </div>
            </div>
            <div class="g-lines">
              <div class="g-line">
                <div class="g-line-info">
                  <div class="skew element-blue g-line-value">
                    <p>+9.3</p>
                    <div class="skew g-line-additional">
                      <p>FIFTH DOSE<br> EFFICACY</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="g-line">
                <div class="g-line-info">
                  <div class="skew element-gray g-line-value">
                    <p>+1.8</p>
                  </div>
                </div>
              </div>
              <div class="g-line">
                <div class="g-line-info">
                  <div class="skew element-blue g-line-value">
                    <p>+10.7</p>
                  </div>
                </div>
              </div>
              <div class="g-line">
                <div class="g-line-info">
                  <div class="skew element-gray g-line-value">
                    <p>+1.2</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap-interactive-buttons">
              <button class="arrow-btn plus state2"></button>
              <button class="arrow-btn plus state3"></button>
              <button class="arrow-btn left gold"></button>
              <div class="graph-text-block">
                <p class="graph-text-data"></p>
              </div>
            </div>
            <div class="point-values">
              <p>50<span>%</span></p>
              <p>64<span>%</span></p>
              <p>74<span>%</span></p>
              <p>78<span>%</span></p>
              <p>87<span>%</span></p>
              <div class="skew point-description">
                <p>+9.3</p>
                <div class="skew point-additional">
                  <p>FIFTH DOSE EFFICACY</p>
                </div>
              </div>
            </div>
          </div>
        </figure>
      </div>
      <ul class="g-legend">
        <li class="legend-blue"><strong>EYLEA<sup>&reg;</sup> 2 mg</strong> administered every month (4 weeks) for the first 5 months, followed by once every 2 months (8 weeks); <strong>n=135</strong>.<sup data-reference-id='korobelnik'></sup>&emps;BCVA= Best Corrective Visual Acuity</li>
        <li class="legend-gray"><strong>Laser</strong> photocoagulation administered as needed, no more often than every 12 weeks; <strong>n=132</strong>.<sup data-reference-id='korobelnik'></sup></li>
        <li>After 5 initial monthly doses, on average, patients in VIVID achieved 87% of mean vision gained at year 1. (9.3/10.7=86.91%)</li>
      </ul>
    </figure>
    <div class="wrap-buttons">
      <div class="wrap-open-popup">
        <p>Study design</p>
        <button class="arrow-btn open-popup" data-viewer="slideshow" slide="StartStrong30B1PopupSlide" href="start_strong_30b_inline"></button>
      </div>
      <div class="wrap-open-popup">
        <p>Additional endpoints</p>
        <button class="arrow-btn open-popup" data-popup="StartStrong30A1PopupSlide"></button>
      </div>
      <div class="wrap-open-popup">
        <p>VISTA DME</p>
        <button class="arrow-btn open-popup" data-viewer="slideshow" slide="StartStrong30C1PopupSlide" href="start_strong_30c_inline"></button>
      </div>
    </div>
  </div>
</article>

app/slides - Copy/StartStrong30Slide/StartStrong30Slide.pug
include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/graph-columns-bar
include ../../pug_fragments/skew

-
	var
	modals = ['StartStrong30B1PopupSlide', 'StartStrong30A1PopupSlide', 'StartStrong30C1PopupSlide']
	slideshow = ['start_strong_30b_inline', null, 'start_strong_30c_inline']
	type = ['inline', 'popup', 'inline']
	lineClasses  = ['element-blue', 'element-gray', 'element-blue', 'element-gray']
	legendColors = ['legend-blue', 'legend-gray']

article#StartStrong30Slide.slide
	h1 !{headline}
	h2 !{lead_paragraph}
	.content-wrapper
		h3 !{headline3.main}
		+graph(graph, legendColors)
			+setGraphLines(graph.lines, lineClasses)
			.wrap-interactive-buttons
				button.arrow-btn.plus.state2
				button.arrow-btn.plus.state3
				button.arrow-btn.left.gold
				.graph-text-block
					p.graph-text-data
		.wrap-buttons
			each btn, key in buttons
				.wrap-open-popup
					p !{btn}
					if type[key] == 'inline'
						button.arrow-btn.open-popup(data-viewer='slideshow' slide=modals[key] href=slideshow[key])
					else
						button.arrow-btn.open-popup(data-popup=modals[key])
