build/slides/StartStrong33Slide/StartStrong33Slide.html

<article class="slide" id="StartStrong33Slide">
  <h1>START STRONG WITH EYLEA<sup>&reg;</sup></h1>
  <h2>FOR EARLY VISION GAINS IN PATIENTS WITH DME<sup data-reference-id='korobelnik,vivid,ziemssen'></sup></h2>
  <button class="arrow-btn left previous-slide"></button>
  <div class="content-wrapper">
    <div class="left-side">
      <div class="graph-wrapper">
        <figure>
          <figcaption>AFTER RECEIVING</figcaption>
          <div class="wrap-number">
            <p class="big-number gold">5</p>
            <mark>initial monthly<br> doses of<br> <span>EYLEA<sup>&reg;</sup> 2 mg</span></mark>
          </div>
        </figure>
      </div>
    </div>
    <div class="right-side">
      <div class="graph-wrapper">
        <figure>
          <figcaption>ON AVERAGE,<br> PATIENTS ACHIEVED</figcaption>
          <p class="big-number gold">87<span>%</span></p>
          <p class="fig-text">OF MEAN VISION<br> GAINED AT YEAR 1<sup data-reference-id='korobelnik,vivid'></sup></p>
        </figure>
      </div>
      <div class="graph-wrapper">
        <figure>
          <p class="big-number gold">80<span>%</span></p>
          <p class="fig-text">OF PATIENTS GAINED<br> <mark>AT LEAST 1 LINE<br> OF VISION<sup data-reference-id='ziemssen'></sup><sup>,</sup><sup data-notes='data_dme'></sup><mark></p>
        </figure>
      </div>
    </div>
  </div>
</article>

app_efficacy_v1_first_40_slides/app/slides/StartStrong33Slide/StartStrong33Slide.pug
include ../../pug_fragments/big-number

article.slide#StartStrong33Slide
	h1 !{headline}
	h2 !{lead_paragraph}
	button.arrow-btn.left.previous-slide
	.content-wrapper
		.left-side
			.graph-wrapper
				figure
					figcaption !{left_side.figcaption}
					.wrap-number
						+bigNumber(left_side.number, '', 'gold')
						mark !{left_side.text}
		.right-side
			each figure, key in figures
				.graph-wrapper
					figure
						if figure.label
							figcaption !{figure.label}
						+bigNumber(figure.number, '%', 'gold')
						p.fig-text !{figure.bottom_text}
