build/slides/StayStrong40A1PopupSlide/StayStrong40A1PopupSlide.html

<article class="slide" id="StayStrong40A1PopupSlide">
  <h1>PROTOCOL T DEMONSTRATES MAINTAINED GAINS <br>WITH EXTENDED DOSING OUT TO 2 YEARS<sup data-reference-id='wells'></sup><sup>,</sup><sup data-notes='treatment_regimen'></sup></h1>
  <h1>PROTOCOL T DEMONSTRATES EFFICACY OF MAINTAINED GAINS <br>WITH EXTENDED DOSING<sup data-reference-id='wells'></sup><sup>,</sup><sup data-notes='treatment_regimen'></sup></h1>
  <figure class="figure-fragment graph-fragment">
    <figcaption>Mean change in BCVA with long-term dosing<sup data-reference-id='heier,wells'></sup><span class="pointer-label"></span></figcaption>
    <div class="content-wrapper">
      <figure class="graph">
        <div class="g-scale g-scale-v">
          <ul>
            <li><span>0</span></li>
            <li><span>2</span></li>
            <li><span>4</span></li>
            <li><span>6</span></li>
            <li><span>8</span></li>
            <li><span>10</span></li>
            <li><span>12</span></li>
            <li><span>14</span></li>
          </ul>
          <p class="g-scale-label"><span>Mean change in BCVA</span><br/><span>ETDRS letters</span><br/>
          </p>
        </div>
        <div class="g-scale g-scale-h">
          <ul>
            <li><span>0</span></li>
            <li><span>4</span></li>
            <li><span>12</span></li>
            <li><span>20</span></li>
            <li><span>52</span></li>
            <li><span>100</span></li>
            <li><span>148</span></li>
          </ul>
          <p class="g-scale-label"><span>Week</span><br/>
          </p>
        </div>
        <div class="g-content">
          <div class="graph-blocks">
            <div class="block">
              <p>Initial <br>monthly <br>dosing</p>
            </div>
            <div class="block">
              <p>Extension</p>
            </div>
          </div>
          <div class="g-lines">
            <div class="g-line">
              <div class="g-line-info">
                <div class="skew element-blue g-line-value">
                  <p>+11.7</p>
                  <div class="skew g-line-additional">
                    <p>Week 148</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="g-line">
              <div class="g-line-info">
                <div class="skew element-yellow g-line-value">
                  <p>+12.8</p>
                  <div class="skew g-line-additional">
                    <p>Week 104</p>
                  </div>
                </div>
                <p class="g-line-name">Protocol T</p>
              </div>
            </div>
          </div>
          <div class="g-legends">
            <div class="g-legend-extended first">
              <div class="skew caption">
                <p><b>Initial monthly dosing</b></p>
              </div>
              <div class="legend-content">
                <li>
                  <div class="skew">
                    <p><b>6</b> Protocol T<sup data-notes='year_injections'></sup></p>
                  </div>
                </li>
                <li>
                  <div class="skew">
                    <p><b>5</b> VIVID</p>
                  </div>
                </li>
              </div>
            </div>
            <div class="g-legend-extended second">
              <div class="skew caption">
                <p><b>Mean doses received in Year 1</b> <br>(initial monthly dosing plus extension period)</p>
              </div>
              <div class="legend-content">
                <li>
                  <div class="skew">
                    <p><b>9.2</b> Protocol T<sup data-reference-id='wells'></sup></p>
                  </div>
                </li>
                <li>
                  <div class="skew">
                    <p><b>8.7</b> VIVID<sup data-reference-id='heier'></sup></p>
                  </div>
                </li>
              </div>
            </div>
            <div class="g-legend-extended third">
              <div class="skew caption">
                <p><b>Initial monthly dosing</b></p>
              </div>
              <div class="legend-content">
                <li>
                  <div class="skew">
                    <p><b>6</b> Protocol T<sup data-notes='year_injections'></sup></p>
                  </div>
                </li>
                <li>
                  <div class="skew">
                    <p><b>5</b> VIVID</p>
                  </div>
                </li>
              </div>
            </div>
            <div class="g-legend-extended fourth">
              <div class="skew caption">
                <p><b>Doses received in Year 2</b></p>
              </div>
              <div class="legend-content">
                <li>
                  <div class="skew">
                    <p><b>5.0<sup data-notes='median'></sup></b> Protocol T<sup data-reference-id='wells'></sup></p>
                  </div>
                </li>
                <li>
                  <div class="skew">
                    <p><b>~4.9<sup data-notes='number_injections_weeks'></sup></b> VIVID<sup data-reference-id='korobelnik,brown'></sup></p>
                  </div>
                </li>
              </div>
            </div>
          </div>
          <div class="control-buttons">
            <button class="arrow-btn plus" data-goto-state="first"></button>
            <button class="arrow-btn plus" data-goto-state="second"></button>
            <button class="arrow-btn plus" data-goto-state="third"></button>
          </div>
        </div>
      </figure>
    </div>
    <ul class="g-legend">
      <li class="legend-yellow"><strong>EYLEA<sup>&reg;</sup> 2 mg</strong> administered every month (4 weeks) unless vision &ge;20/20 with &lt;250 μm on Zeiss Stratus equivalent and no improvement or worsening <br>in response to the previous 2 injections, for the first 20 weeks; thereafter injection was withheld if stable (see study design page for definitions); <br><strong>Protocol T n=224</strong>.<sup data-reference-id='diabetic'></sup></li>
      <li class="legend-blue"><strong>EYLEA<sup>&reg;</sup> 2 mg</strong> administered every month (4 weeks) for the first 5 months, followed by once every 2 months (8 weeks); <strong>VIVID DME n=135</strong>.<sup data-reference-id='heier'></sup></li>
    </ul>
  </figure>
</article>

app/slides/StayStrong40A1PopupSlide/StayStrong40A1PopupSlide.pug
include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/graph-columns-bar
include ../../pug_fragments/skew

-
	var
		lineClasses  = ['element-blue', 'element-yellow']
		legendColors = ['legend-yellow', 'legend-blue']

article#StayStrong40A1PopupSlide.slide
	each headline in headlines
		h1 !{headline}
	+graph(graph, legendColors)
		+setGraphLines(graph.lines, lineClasses)
		.g-legends
			each legend, _class in graph.graph_additional_legends
				.g-legend-extended(class=_class)
					+skewText(legend.caption).caption
					.legend-content
						each item in legend.list
							li
								+skewText(item)
		.control-buttons
			button(data-goto-state="first").arrow-btn.plus
			button(data-goto-state="second").arrow-btn.plus
			button(data-goto-state="third").arrow-btn.plus
