app_efficacy_v1_first_40_slides/app/slides/StartStrong34B1PopupSlide/StartStrong34B1PopupSlide.pug
include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/skew

-
	var
	lineClasses  = ['element-gray', 'element-light-blue']
	legendColors = ['legend-light-blue', 'legend-gray']

article#StartStrong34B1PopupSlide.slide
	.fake-menu
		button !{crt}
	p.sub-text !{lead_text}
	h1 !{headline}

	+graph(graph, legendColors).top-scale
		+setGraphLines(graph.lines, lineClasses)

build/slides/StartStrong34B1PopupSlide/StartStrong34B1PopupSlide.html

<article class="slide" id="StartStrong34B1PopupSlide">
  <div class="fake-menu">
    <button>CRT</button>
  </div>
  <p class="sub-text">IN VIVID EAST…</p>
  <h1><mark>EYLEA<sup>&reg;</sup></mark>: RAPID AND ROBUST MEAN REDUCTIONS IN CRT VS LASER<sup data-reference-id='vividEast'></sup></h1>
  <figure class="figure-fragment graph-fragment top-scale">
    <figcaption>Mean change in CRT though Week 52<sup data-reference-id='vividEast'></sup><span class="pointer-label"></span></figcaption>
    <div class="content-wrapper">
      <figure class="graph">
        <div class="g-scale g-scale-v">
          <ul>
            <li><span>–250</span></li>
            <li><span>–200</span></li>
            <li><span>–150</span></li>
            <li><span>–100</span></li>
            <li><span>–50</span></li>
            <li><span>0</span></li>
          </ul>
          <p class="g-scale-label"><span>&micro;m</span><br/>
          </p>
        </div>
        <div class="g-scale g-scale-h">
          <ul>
            <li><span>0</span></li>
            <li><span>4</span></li>
            <li><span>8</span></li>
            <li><span>12</span></li>
            <li><span>16</span></li>
            <li><span>20</span></li>
            <li><span>24</span></li>
            <li><span>28</span></li>
            <li><span>32</span></li>
            <li><span>36</span></li>
            <li><span>40</span></li>
            <li><span>44</span></li>
            <li><span>48</span></li>
            <li><span>52</span></li>
          </ul>
          <p class="g-scale-label"><span>Week</span><br/>
          </p>
        </div>
        <div class="g-content">
          <div class="graph-blocks">
            <div class="block">
              <p></p>
            </div>
            <div class="block">
              <p></p>
            </div>
          </div>
          <div class="g-lines">
            <div class="g-line">
              <div class="g-line-info">
                <div class="skew element-gray g-line-value">
                  <p>–109.3</p>
                </div>
              </div>
            </div>
            <div class="g-line">
              <div class="g-line-info">
                <div class="skew element-light-blue g-line-value">
                  <p>–234.7</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </figure>
    </div>
    <ul class="g-legend">
      <li class="legend-light-blue"><strong>EYLEA<sup>&reg;</sup> 2 mg</strong> administered every month (4 weeks) for the first 5 months, followed by once every 2 months (8 weeks); <strong>n=127</strong>.<sup data-reference-id='davidson'></sup></li>
      <li class="legend-gray"><strong>Laser</strong> photocoagulation administered as needed, no more often than every 12 weeks; <strong>n=117</strong>.<sup data-reference-id='davidson'></sup></li>
    </ul>
  </figure>
</article>
