app_efficacy_v1_first_40_slides/app/slides - Copy/StartStrong31Slide/StartStrong31Slide.pug
mixin generatePatientsNumbers(numberOfPatients)
	- var i = 1
	- while(i <= numberOfPatients)
		li !{i}
		- i++

article.slide#StartStrong31Slide
	h1 !{headline}
	h2 !{lead_paragraph}
	.content-wrapper
		.question-wrapper
			p.patients !{patients}
			.question
				p.number.big-number.gold !{question.number}
				p.text !{question.text}
		.slider-wrapper
			.before-after-slider(data-stop-swipe)
				.element-before
				.element-after
				ul.patients-numbers
					+generatePatientsNumbers(10)
		.act
			p !{act}

build/slides/StartStrong31Slide/StartStrong31Slide.html

<article class="slide" id="StartStrong31Slide">
  <h1>EYLEA<sup>&reg;</sup>:EARLY VISION GAINS<br> IN PATIENTS WITH DME</h1>
  <!--h2 !{lead_paragraph}-->
  <div class="content-wrapper">
    <div class="question-wrapper">
      <p class="patients">HOW MANY OF THESE <br>DME PATIENTS WOULD <br>YOU EXPECT TO<br>ACHIEVE <mark>AT LEAST <br>A ONE-LINE VISUAL <br>GAIN</mark> AFTER</p>
      <div class="question">
        <p class="number big-number gold">5</p>
        <p class="text"><mark>INITIAL MONTHLY DOSES OF EYLEA<sup>&reg;</sup>?</mark></p>
      </div>
    </div>
    <div class="slider-wrapper">
      <div class="before-after-slider" data-stop-swipe="data-stop-swipe">
        <div class="element-before"></div>
        <div class="element-after"></div>
        <ul class="patients-numbers">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
        </ul>
      </div>
    </div>
    <div class="act">
      <p>Press and hold to highlight answer</p>
    </div>
  </div>
</article>
