app_efficacy_v1_first_40_slides/app/slides/StayStrong40Slide/StayStrong40Slide.pug
include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/graph-columns-bar
include ../../pug_fragments/skew

-
	var
	lineClasses  = ['element-blue', 'element-light-gray']
	legendColors = ['legend-blue', 'legend-light-gray']
	popups = [{href:"stay_strong_40b_inline",slide:"StayStrong40B1PopupSlide"},{href:"stay_strong_40c_inline",slide:"StayStrong40C1PopupSlide"},{href:"stay_strong_40a_inline",slide:"StayStrong40A1PopupSlide"}]

article.slide#StayStrong40Slide
	h1 !{headline}
	//h2 !{sub_headline}
	//h3 !{lead_paragraph}
	+graph(graph, legendColors)
		+setGraphLines(graph.lines, lineClasses)
		.g-legends
			each legend, _class in graph.graph_additional_legends
				.g-legend-extended(class=_class)
					+skewTextExtends(legend.caption_left,legend.caption_right).caption
					.legend-content
						.top
							+skewText(legend.list[0])
		.control-buttons
			button(data-goto-state="first").arrow-btn.state-btn.plus
			button(data-goto-state="second").arrow-btn.state-btn.plus
			button(data-goto-state="third").arrow-btn.state-btn.plus
	.wrap-open-popup
		each item, index in bottom_btns
			p !{item}
			button.arrow-btn.open-popup(data-viewer='slideshow', href=popups[index].href, slide=popups[index].slide)

build/slides/StayStrong40Slide/StayStrong40Slide.html

<article class="slide" id="StayStrong40Slide">
  <h1>TREATMENT EXTENSION WITH EYLEA<sup>&reg;</sup><br> CAN MAINTAIN VISION AFTER THE INITIAL<br>MONTHLY DOSING PHASE<sup data-reference-id='heier'></sup></h1>
  <!--h2 !{sub_headline}-->
  <!--h3 !{lead_paragraph}-->
  <figure class="figure-fragment graph-fragment">
    <figcaption>Mean change in BCVA through Week 148<sup data-reference-id='heier'></sup><span class="pointer-label"></span></figcaption>
    <div class="content-wrapper">
      <figure class="graph">
        <div class="g-scale g-scale-v">
          <ul>
            <li><span>0</span></li>
            <li><span>2</span></li>
            <li><span>4</span></li>
            <li><span>6</span></li>
            <li><span>8</span></li>
            <li><span>10</span></li>
            <li><span>12</span></li>
            <li><span>14</span></li>
          </ul>
          <p class="g-scale-label"><span>Mean change in BCVA</span><br/><span>ETDRS letters</span><br/>
          </p>
        </div>
        <div class="g-scale g-scale-h">
          <ul>
            <li><span>0</span></li>
            <li><span>4</span></li>
            <li><span>12</span></li>
            <li><span>20</span></li>
            <li><span>52</span></li>
            <li><span>100</span></li>
            <li><span>148</span></li>
          </ul>
          <p class="g-scale-label"><span>Week</span><br/>
          </p>
        </div>
        <div class="g-content">
          <div class="graph-blocks">
            <div class="block">
              <p>Initial monthly <br>dosing</p>
            </div>
            <div class="block">
              <p>Extension</p>
            </div>
          </div>
          <div class="g-lines">
            <div class="g-line">
              <div class="g-line-info">
                <div class="skew element-blue g-line-value">
                  <p>+11.7</p>
                  <div class="skew g-line-additional">
                    <p>EYLEA<sup>&reg;</sup> 2q8</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="g-line">
              <div class="g-line-info">
                <div class="skew element-light-gray g-line-value">
                  <p>+1.6</p>
                </div>
              </div>
            </div>
          </div>
          <div class="g-legends">
            <div class="g-legend-extended first">
              <div class="skew caption">
                <p class="left"><b>33<sub>%</sub></b></p>
                <p class="right">Patients<br> achieving<br><b>&ge;3-line gains</b><sup data-reference-id='korobelnik'></sup></p>
              </div>
              <div class="legend-content">
                <div class="top">
                  <div class="skew">
                    <p><b>Week 52</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="g-legend-extended second">
              <div class="skew caption">
                <p class="left"><b>31<sub>%</sub></b></p>
                <p class="right">Patients<br> achieving<br><b>&ge;3-line gains</b><sup data-reference-id='korobelnik,brown'></sup></p>
              </div>
              <div class="legend-content">
                <div class="top">
                  <div class="skew">
                    <p><b>Week 100</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="g-legend-extended third">
              <div class="skew caption">
                <p class="left"><b>42<sub>%</sub></b></p>
                <p class="right">Patients<br> achieving<br><b>&ge;3-line gains</b><sup data-reference-id='heier,brown'></sup></p>
              </div>
              <div class="legend-content">
                <div class="top">
                  <div class="skew">
                    <p><b>Week 148</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="control-buttons">
            <button class="arrow-btn state-btn plus" data-goto-state="first"></button>
            <button class="arrow-btn state-btn plus" data-goto-state="second"></button>
            <button class="arrow-btn state-btn plus" data-goto-state="third"></button>
          </div>
        </div>
      </figure>
    </div>
    <ul class="g-legend">
      <li class="legend-blue"><strong>EYLEA<sup>&reg;</sup> 2 mg</strong> administered every month (4 weeks) for the first 5 months, followed by once every 2 months (8 weeks); n=135.<sup data-reference-id='heier'></sup></li>
      <li class="legend-light-gray"><strong>Laser</strong> photocoagulation administered as needed, no more often than every 12 weeks; n=132.<sup data-reference-id='heier'></sup></li>
    </ul>
  </figure>
  <div class="wrap-open-popup">
    <p>Additional endpoints</p>
    <button class="arrow-btn open-popup" data-viewer="slideshow" href="stay_strong_40b_inline" slide="StayStrong40B1PopupSlide"></button>
    <p>VISTA DME</p>
    <button class="arrow-btn open-popup" data-viewer="slideshow" href="stay_strong_40c_inline" slide="StayStrong40C1PopupSlide"></button>
    <p>Protocol T</p>
    <button class="arrow-btn open-popup" data-viewer="slideshow" href="stay_strong_40a_inline" slide="StayStrong40A1PopupSlide"></button>
  </div>
</article>
