app_efficacy_v1_first_40_slides/app/slides - Copy/UniqueMoA50B3PopupSlide/UniqueMoA50B3PopupSlide.pug
include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/graph-columns-bar
include ../../pug_fragments/skew

-
	var
		states = ['mead', 'bevordex', 'callanan']
		legendColors = ['legend-yellow']
		lineClasses  = ['element-blue','element-blue','element-blue']

article.slide#UniqueMoA50B3PopupSlide
	h1 !{headline}
	+graph(graph, legendColors)
		+setGraphLines(graph.lines, lineClasses)
		.buttons-wrapper
			each button, index in buttons
				.button-wrapper
					button.arrow-btn.plus(data-goto-state=states[index])
					span !{button}
		p.dose-indicator !{dose}

build/slides/UniqueMoA50B3PopupSlide/UniqueMoA50B3PopupSlide.html

<article class="slide" id="UniqueMoA50B3PopupSlide">
  <h1>AN OVERVIEW ACROSS MULTIPLE TRIALS SUGGESTS PEAK VISUAL ACUITY GAINS OCCUR ABOUT 2 MONTHS POST-INJECTION, FOLLOWED BY PROGRESSIVE DECLINE OVER TIME<sup data-reference-id='boyer-callanan'></sup><sup>,</sup><sup data-notes='study_visits'></sup></h1>
  <figure class="figure-fragment graph-fragment">
    <figcaption>Mean change in BCVA from baseline<sup data-reference-id='boyer-callanan'></sup><span class="pointer-label"></span></figcaption>
    <div class="content-wrapper">
      <figure class="graph">
        <div class="g-scale g-scale-v">
          <ul>
            <li><span>0</span></li>
            <li><span>1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
            <li><span>4</span></li>
            <li><span>5</span></li>
            <li><span>6</span></li>
            <li><span>7</span></li>
            <li><span>8</span></li>
            <li><span>9</span></li>
          </ul>
          <p class="g-scale-label"><span>Mean change</span><br/><span>in BCVA ETDRS letters</span><br/>
          </p>
        </div>
        <div class="g-scale g-scale-h">
          <ul>
            <li><span>0</span></li>
            <li><span>0.5</span></li>
            <li><span>1</span></li>
            <li><span>1.5</span></li>
            <li><span>2</span></li>
            <li><span>2.5</span></li>
            <li><span>3</span></li>
            <li><span>3.5</span></li>
            <li><span>4</span></li>
            <li><span>4.5</span></li>
            <li><span>5</span></li>
            <li><span>5.5</span></li>
            <li><span>6</span></li>
          </ul>
          <p class="g-scale-label"><span>Month</span><br/>
          </p>
        </div>
        <div class="g-content">
          <div class="g-lines">
            <div class="g-line">
              <div class="g-line-info">
                <div class="skew element-blue g-line-value">
                  <p>MEAD</p>
                </div>
              </div>
            </div>
            <div class="g-line">
              <div class="g-line-info">
                <div class="skew element-blue g-line-value">
                  <p>BEVORDEX</p>
                </div>
              </div>
            </div>
            <div class="g-line">
              <div class="g-line-info">
                <div class="skew element-blue g-line-value">
                  <p>Callanan <em>et al.</em></p>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons-wrapper">
            <div class="button-wrapper">
              <button class="arrow-btn plus" data-goto-state="mead"></button><span>MEAD</span>
            </div>
            <div class="button-wrapper">
              <button class="arrow-btn plus" data-goto-state="bevordex"></button><span>BEVORDEX</span>
            </div>
            <div class="button-wrapper">
              <button class="arrow-btn plus" data-goto-state="callanan"></button><span>Callanan <em>et al.</em></span>
            </div>
          </div>
          <p class="dose-indicator">Dose</p>
        </div>
      </figure>
    </div>
    <ul class="g-legend">
      <li class="legend-yellow">DEX 0.7 mg (n=351)</li>
    </ul>
  </figure>
</article>
