build/slides/UniqueMoA50A5PopupSlide/UniqueMoA50A5PopupSlide.html

<article class="slide" id="UniqueMoA50A5PopupSlide">
  <h1><mark>EYLEA<sup>&reg;</sup></mark> is a fusion protein designed to tightly bind or ‘trap’ VEGF and PGF<sup data-reference-id='eylea'></sup></h1>
  <figure>
    <figcaption>EYLEA<sup>&reg;</sup> MOLECULE</figcaption>
    <div class="figure-content">
      <div class="left-part">
        <p>VEGFR-2 domain<span class="line"></span></p>
        <p>Fc fragment of IgG<span class="line"></span></p>
        <p>VEGFR-1 domain<span class="line"></span></p>
      </div>
      <div class="right-part">
        <div class="dimer-wrapper">
          <p>VEGF dimer</p>
        </div>
        <div class="dimer-wrapper">
          <p>PGF dimer</p>
        </div>
      </div>
    </div>
  </figure>
  <div class="oblique-tile">
    <p>EYLEA<sup>&reg;</sup> BINDS MORE TIGHTLY TO VEGF THAN THE NATIVE VEGF RECEPTORS<sup data-reference-id='eylea'></sup></p>
  </div>
</article>

app_efficacy_v1_first_40_slides/app/slides/UniqueMoA50A5PopupSlide/UniqueMoA50A5PopupSlide.pug
article.slide#UniqueMoA50A5PopupSlide
	h1 !{headline}
	figure
		figcaption !{figure.name}
		.figure-content
			.left-part
				each item in figure.left_part
					p !{item}
						span.line
			.right-part
				each item in figure.right_part
					.dimer-wrapper
						p !{item}
	.oblique-tile
		p !{foot_text}
