app_efficacy_v1_first_40_slides/app/slides/StartStrong34Slide/StartStrong34Slide.pug
include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/graph-columns-bar
include ../../pug_fragments/skew

-
	var
	modals = ['StartStrong34A1PopupSlide', 'StartStrong34B1PopupSlide']
	lineClasses  = ['element-light-blue', 'element-gray']
	legendColors = ['legend-gray', 'legend-light-blue']

article#StartStrong34Slide.slide
	h1 !{headline}
	h2 !{lead_paragraph}
	.content-wrapper
		h3 !{sub_lead_paragraph}
		+graph(graph, legendColors)
			+setGraphLines(graph.lines, lineClasses)
		.wrap-buttons
			each btn, key in buttons
				.wrap-open-popup
					p !{btn}
					if key == 0
						button.arrow-btn.open-popup(data-viewer="slideshow" href="start_strong_34a_inline" slide="StartStrong34A1PopupSlide")
					else
						button.arrow-btn.open-popup(data-popup=modals[key])

build/slides/StartStrong34Slide/StartStrong34Slide.html

<article class="slide" id="StartStrong34Slide">
  <h1>START STRONG: VIVID EAST</h1>
  <h2>STRONG GAINS SEEN IN ASIAN POPULATIONS<sup data-reference-id='vividEast'></sup></h2>
  <div class="content-wrapper">
    <h3><strong>EYLEA<sup>&reg;</sup> 2 mg</strong> achieved a mean gain of &gt;2 lines at 1 year in VIVID EAST<sup data-reference-id='vividEast'></sup></h3>
    <figure class="figure-fragment graph-fragment">
      <figcaption>Mean change in BCVA though Week 52<sup data-reference-id='korobelnik,vividEast'></sup><span class="pointer-label"></span></figcaption>
      <div class="content-wrapper">
        <figure class="graph">
          <div class="g-scale g-scale-v">
            <ul>
              <li><span>0</span></li>
              <li><span>2</span></li>
              <li><span>4</span></li>
              <li><span>6</span></li>
              <li><span>8</span></li>
              <li><span>10</span></li>
              <li><span>12</span></li>
              <li><span>14</span></li>
            </ul>
            <p class="g-scale-label"><span>Mean change in BCVA</span><br/><span>ETDRS letters</span><br/>
            </p>
          </div>
          <div class="g-scale g-scale-h">
            <ul>
              <li><span>0</span></li>
              <li><span>4</span></li>
              <li><span>8</span></li>
              <li><span>12</span></li>
              <li><span>16</span></li>
              <li><span>20</span></li>
              <li><span>52</span></li>
            </ul>
            <p class="g-scale-label"><span>Week</span><br/>
            </p>
          </div>
          <div class="g-content">
            <div class="graph-blocks">
              <div class="block">
                <p>Initial monthly dosing</p>
              </div>
              <div class="block">
                <p>Extension</p>
              </div>
            </div>
            <div class="g-lines">
              <div class="g-line">
                <div class="g-line-info">
                  <div class="skew element-light-blue g-line-value">
                    <p>+12.8</p>
                  </div>
                </div>
              </div>
              <div class="g-line">
                <div class="g-line-info">
                  <div class="skew element-gray g-line-value">
                    <p>+10.7</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </figure>
      </div>
      <ul class="g-legend">
        <li class="legend-gray">EYLEA<sup>&reg;</sup> 2 mg administered every month (4 weeks) for the first 5 months, followed by once every 2 months (8 weeks); VIVID DME n=135.<sup data-reference-id='korobelnik'></sup></li>
        <li class="legend-light-blue">EYLEA<sup>&reg;</sup> 2 mg administered every month (4 weeks) for the first 5 months, followed by once every 2 months (8 weeks); VIVID EAST n=116.<sup data-reference-id='vividEast'></sup></li>
      </ul>
    </figure>
    <div class="wrap-buttons">
      <div class="wrap-open-popup">
        <p>Study design</p>
        <button class="arrow-btn open-popup" data-viewer="slideshow" href="start_strong_34a_inline" slide="StartStrong34A1PopupSlide"></button>
      </div>
      <div class="wrap-open-popup">
        <p>Additional endpoints</p>
        <button class="arrow-btn open-popup" data-popup="StartStrong34B1PopupSlide"></button>
      </div>
    </div>
  </div>
</article>
