build/slides/Discussion60Slide/Discussion60Slide.html

<article class="slide" id="Discussion60Slide">
  <div class="sections">
    <section>
      <div class="blending"></div>
      <div class="main-info">
        <div class="content">
          <h1>START <br>STRONG</h1>
        </div>
      </div>
      <div class="description">
        <div class="content">
          <p><b>After 5 initial monthly doses</b>, on average,</p>
          <p>patients in VIVID DME achieved <span>87</span>% of mean vision gained at Year 1<sup data-reference-id='korobelnik,vivid'></sup></p>
          <p><span>80</span>% of patients achieved at least one line improvement<sup data-reference-id='vividEast'></sup></p>
        </div>
      </div>
    </section>
    <section>
      <div class="blending"></div>
      <div class="main-info">
        <div class="content">
          <h1>STAY <br>STRONG</h1>
        </div>
      </div>
      <div class="description">
        <div class="content">
          <p>In pivotal trials up to Week 148</p>
          <p>Patients maintained Year 1 mean vision gains of <b>&gt;</b><span>10</span> <b>letters</b><sup data-reference-id='korobelnik,heier'></sup></p>
          <p>Achieving up to <span>11.7</span> <b>letters</b><sup data-reference-id='heier'></sup></p>
        </div>
      </div>
    </section>
    <section>
      <div class="blending"></div>
      <div class="main-info">
        <div class="content">
          <h1>UNIQUE <br>MOA</h1>
        </div>
      </div>
      <div class="description">
        <div class="content">
          <p><b>Inhibition of both VEGF and PGF<sup data-reference-id='eylea'></sup></b></p>
          <p><b>Greater binding affinity</b> than natural receptors<sup data-reference-id='eylea'></sup></p>
        </div>
      </div>
    </section>
  </div>
</article>

app_efficacy_v1_first_40_slides/app/slides - Copy/Discussion60Slide/Discussion60Slide.pug
article.slide#Discussion60Slide
	.sections
		each section in sections
			section
				.blending
				.main-info
					.content
						h1 !{section.title}
				.description
					.content
						each text in section.descriptions
							p !{text}
