app_efficacy_v1_first_40_slides/app/slides/StayStrong40A3PopupSlide/StayStrong40A3PopupSlide.pug
include ../../pug_fragments/graph
include ../../pug_fragments/graph-lines
include ../../pug_fragments/skew

-
	var
		legendColors = ['legend-blue', 'legend-gray', 'legend-light-gray']
		additionalLegendClasses = ['element-blue', 'element-gray', 'element-light-gray']

article#StayStrong40A3PopupSlide.slide
	h1 !{headline}
	.content
		p.lead-paragraph !{lead_paragraph}
		+graph(graph, legendColors)
			+setGraphLines(graph.lines)
			.g-legend-additional
				+skewText(graph.graph_additional_legend.caption).caption
				.legend-content
					each item, index in graph.graph_additional_legend.list
						li(class = additionalLegendClasses[index])
							+skewText(item)
		p.footnote !{footnote}

build/slides/StayStrong40A3PopupSlide/StayStrong40A3PopupSlide.html

<article class="slide" id="StayStrong40A3PopupSlide">
  <h1>IN PATIENTS WITH VISUAL ACUITY OF &lt;20/40 (&lt;69 ETDRS letters) <br>AT BASELINE IN PROTOCOL T…</h1>
  <div class="content">
    <p class="lead-paragraph">GREATER IMPROVEMENTS IN BCVA WITH EYLEA<sup>&reg;</sup> VS RANIBIZUMAB AND BEVACIZUMAB <br>(area under curve; <i>post-hoc</i> analysis)<sup data-reference-id='jampol'></sup><sup>,</sup><sup data-notes='dose_ranibizumab'></sup></p>
    <figure class="figure-fragment graph-fragment">
      <figcaption>Mean change in BCVA though Year 2<sup data-reference-id='wells,jampol'></sup><span class="pointer-label"></span></figcaption>
      <div class="content-wrapper">
        <figure class="graph">
          <div class="g-scale g-scale-v">
            <ul>
              <li><span>0</span></li>
              <li><span>5</span></li>
              <li><span>10</span></li>
              <li><span>15</span></li>
              <li><span>20</span></li>
            </ul>
            <p class="g-scale-label"><span>Mean change in BCVA</span><br/><span>ETDRS letters</span><br/>
            </p>
          </div>
          <div class="g-scale g-scale-h">
            <ul>
              <li><span>0</span></li>
              <li><span>4</span></li>
              <li><span>8</span></li>
              <li><span>12</span></li>
              <li><span>16</span></li>
              <li><span>20</span></li>
              <li><span>24</span></li>
              <li><span>28</span></li>
              <li><span>32</span></li>
              <li><span>36</span></li>
              <li><span>40</span></li>
              <li><span>44</span></li>
              <li><span>48</span></li>
              <li><span>52</span></li>
              <li><span>68</span></li>
              <li><span>84</span></li>
              <li><span>104</span></li>
            </ul>
            <p class="g-scale-label"><span>Week</span><br/>
            </p>
          </div>
          <div class="g-content">
            <div class="g-lines">
              <div class="g-line">
                <div class="g-line-info">
                  <p class="g-line-name">+18.1<sup data-notes='bevacizumab_02 ranibizumab_18'></sup></p>
                </div>
              </div>
              <div class="g-line">
                <div class="g-line-info">
                  <p class="g-line-name">+16.1<sup data-notes='bevacizumab_18'></sup></p>
                </div>
              </div>
              <div class="g-line">
                <div class="g-line-info">
                  <p class="g-line-name">+13.3</p>
                </div>
              </div>
            </div>
            <div class="g-legend-additional">
              <div class="skew caption">
                <p><b>Mean change in BCVA averaged</b> <br><span>through Year 2 (AUC)<sup data-reference-id='jampol'></sup></span></p>
              </div>
              <div class="legend-content">
                <li class="element-blue">
                  <div class="skew">
                    <p><b>+17.1<sup data-notes='bevacizumab_001 ranibizumab_009'></sup></b> EYLEA<sup>&reg;</sup></p>
                  </div>
                </li>
                <li class="element-gray">
                  <div class="skew">
                    <p><b>+13.6</b> Ranibizumab</p>
                  </div>
                </li>
                <li class="element-light-gray">
                  <div class="skew">
                    <p><b>+12.1</b> Bevacizumab</p>
                  </div>
                </li>
              </div>
            </div>
          </div>
        </figure>
      </div>
      <ul class="g-legend">
        <li class="legend-blue"><strong>EYLEA<sup>&reg;</sup> 2 mg; n=98.</strong><sup data-reference-id='wells'></sup></li>
        <li class="legend-gray">Ranibizumab 0.3 mg; <strong>n=94.</strong><sup data-reference-id='wells'></sup></li>
        <li class="legend-light-gray">Bevacizumab 1.25 mg; <strong>n=92.</strong><sup data-reference-id='wells'></sup></li>
      </ul>
    </figure>
    <p class="footnote">Treatments administered every month (4 weeks) unless vision &ge;20/20 with &lt;250 μm on Zeiss Stratus equivalent and no improvement or worsening in response <br>to the previous 2 injections, for the first 20 weeks; thereafter injection was withheld if stable (see study design page for definitions); <strong>Protocol T n=224.</strong><sup data-reference-id='diabetic'></sup></p>
  </div>
</article>
