build/slides/StartStrong32Slide/StartStrong32Slide.html

<article class="slide" id="StartStrong32Slide">
  <h1>EYLEA<sup>&reg;</sup> EARLY VISION GAINS<br> IN PATIENTS WITH DME</h1>
  <!--p.lead-paragraph !{lead_text}-->
  <div class="content-wrapper">
    <div class="graph-wrapper">
      <figure>
        <div class="people-illustration">
          <p class="big-number gold"><strong>80</strong><span>%</span></p><img src="assets/images/people.png"/>
        </div>
        <figcaption>OF PATIENTS IN VIVID DME AND VISTA DME TREATED WITH <mark>EYLEA<sup>&reg;</sup></mark> ACHIEVED<br><mark>A CLINICALLY MEANINGFUL<br>VISION GAIN</mark><br><b>(AT LEAST ONE LINE IMPROVEMENT) AFTER</b></figcaption>
      </figure>
      <p class="dose-description"><mark>5 INITIAL MONTHLY DOSES<sup data-reference-id='ziemssen'></sup><sup>,</sup><sup data-notes='data_dme'></sup></mark></p>
    </div>
    <button class="arrow-btn right next-slide"></button>
  </div>
  <div class="wrap-open-popup">
    <p>Patient value of gains</p>
    <button class="arrow-btn plus-white" data-popup="StartStrong32APopupSlide"></button>
  </div>
</article>

app/slides/StartStrong32Slide/StartStrong32Slide.pug
include ../../pug_fragments/big-number

article.slide#StartStrong32Slide
	h1 !{headline}
	//p.lead-paragraph !{lead_text}
	.content-wrapper
		.graph-wrapper
			figure
				.people-illustration
					+bigNumber(value, valuePercent, "gold")
					img(src="assets/images/people.png")
				figcaption !{figcaption}
			p.dose-description !{description}
		button.arrow-btn.right.next-slide
	.wrap-open-popup
		p !{button}
		button.arrow-btn.plus-white(data-popup="StartStrong32APopupSlide")
