app/slides/MostFrequentlyObservedSlide/MostFrequentlyObservedSlide.pug
include ../../pug_fragments/oblique-tile
include ../../pug_fragments/table-generator

article.slide#MostFrequentlyObservedSlide
	h1 !{headline}
	h2.lead-text !{lead_paragraph}
	.content-wrapper
		.graph-wrapper
			+tableGenerator(table, 2)
			.oblique_item
				.oblique-wrapper
					p.oblique-tile !{oblique_text.label}

build/slides/MostFrequentlyObservedSlide/MostFrequentlyObservedSlide.html

<article class="slide" id="MostFrequentlyObservedSlide">
  <h1>MOST FREQUENTLY OBSERVED<br />ADVERSE REACTIONS<sup data-reference-id='korobelnik'></sup></h1>
  <h2 class="lead-text">(in ≥5% of patients treated with EYLEA<sup>®</sup>)</h2>
  <div class="content-wrapper">
    <div class="graph-wrapper">
      <table class="table-global">
        <colgroup>
          <col/>
          <col/>
        </colgroup>
        <thead>
          <tr>
            <th>ADVERSE EVENT</th>
            <th>FREQUENCY</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CONJUNCTIVAL HAEMORRHAGE</td>
            <td>25%</td>
          </tr>
          <tr>
            <td>REDUCED VISUALACUITY</td>
            <td>11%</td>
          </tr>
          <tr>
            <td>EYE PAIN</td>
            <td>10%</td>
          </tr>
          <tr>
            <td>CATARACT</td>
            <td>8%</td>
          </tr>
          <tr>
            <td>INCREASED INTRAOCULAR PRESSURE</td>
            <td>8%</td>
          </tr>
          <tr>
            <td>VITREOUS DETACHMENT</td>
            <td>7%</td>
          </tr>
          <tr>
            <td>VITREOUS FLOATERS</td>
            <td>7%</td>
          </tr>
        </tbody>
      </table>
      <div class="oblique_item">
        <div class="oblique-wrapper">
          <p class="oblique-tile"><span>3102 PATIENTS</span> FROM <span>EIGHT PHASE III</span> STUDIES ARE INCLUDED IN THE EYLEA<sup>®</sup><br />SAFETY POPULATION<sup data-reference-id='korobelnik'></sup></p>
        </div>
      </div>
    </div>
  </div>
</article>
