build/slides/StartStrong32APopupSlide/StartStrong32APopupSlide.html

<article class="slide" id="StartStrong32APopupSlide">
  <h1>WHAT DO LINES OF VISION MEAN TO YOUR PATIENT?</h1>
  <h2 class="sub-header">BINOCULAR VISUAL ACUITY<sup data-reference-id='davidson,globe'></sup><sup>,</sup><sup data-notes='correlation_lines'></sup></h2>
  <div class="content">
    <div class="left-side">
      <div class="row row-0">
        <div class="count"><span>1</span></div>
        <div class="description">
          <p>LINE</p>
          <p>LOST</p>
        </div>
      </div>
      <div class="seperator-line-0"></div>
      <div class="row row-1">
        <div class="count"><span>2</span></div>
        <div class="description">
          <p>LINES</p>
          <p>LOST</p>
        </div>
      </div>
      <div class="seperator-line-1"></div>
      <div class="row row-2">
        <div class="count"><span>3</span></div>
        <div class="description">
          <p>LINES</p>
          <p>LOST</p>
        </div>
      </div>
      <div class="seperator-line-2"></div>
    </div>
    <div class="right-side">
      <div class="row row-0">
        <ul>
          <li><b>Reduced or lost ability to drive</b></li>
          <li>Dependency on others</li>
          <li>Difficulty with reading street signs, going down stairs,<br> and watching television</li>
        </ul>
      </div>
      <div class="seperator-line-0"></div>
      <div class="row row-1">
        <ul>
          <li>Limited ability to work or perform role-specific functions</li>
          <li><b>Difficulty with reading</b> books or newspapers, cooking,<br> sewing, or using hand tools</li>
        </ul>
      </div>
      <div class="seperator-line-1"></div>
      <div class="row row-2">
        <ul>
          <li>Difficulty distinguishing between colors</li>
        </ul>
      </div>
      <div class="seperator-line-2"></div>
    </div>
  </div>
  <div class="oblique-tile">
    <p>GAINING ONE LINE CAN MAKE A SUBSTANTIAL IMPACT ON PATIENTS’ LIVES</p>
  </div>
</article>

app_efficacy_v1_first_40_slides/app/slides/StartStrong32APopupSlide/StartStrong32APopupSlide.pug
article.slide#StartStrong32APopupSlide
	h1 !{headline}
	h2.sub-header !{lead_paragraph}
	.content
		.left-side
			each item, i in content.left_side
				div(class='row row-' + i)
					.count
						span !{item.line_count}
					.description
						each paragraph in item.line_txt
							p !{paragraph}
				div(class='seperator-line-' + i)
		.right-side
			each item, i in content.right_side
				div(class='row row-' + i)
					ul
						each list in item.list
							li !{list}
				div(class='seperator-line-' + i)
	.oblique-tile
		p !{bottom_side.bottom_title}
